/* line 1, ../../sass/partials/helpers.scss */
.container {
  box-sizing: border-box;
  width: 1024px;
  margin: 0 auto;
  padding: 0 0.625em 2.25em 0.625em;
}

/* line 10, ../../sass/partials/helpers.scss */
.left {
  float: left;
}

/* line 14, ../../sass/partials/helpers.scss */
.right {
  float: right;
}

/* line 18, ../../sass/partials/helpers.scss */
.italic {
  font-style: italic;
}

/* line 22, ../../sass/partials/helpers.scss */
.bold {
  font-weight: 600;
}
