/* line 1, ../../sass/partials/helpers.scss */
.container {
  box-sizing: border-box;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0.625em 2.25em 0.625em;
}

/* line 12, ../../sass/partials/helpers.scss */
.left {
  float: left;
}

/* line 16, ../../sass/partials/helpers.scss */
.right {
  float: right;
}

/* line 20, ../../sass/partials/helpers.scss */
.italic {
  font-style: italic;
}

/* line 24, ../../sass/partials/helpers.scss */
.bold {
  font-weight: 600;
}
