/* line 4, ../../sass/partials/nav.scss */
nav {
  height: 3.4375em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* line 11, ../../sass/partials/nav.scss */
nav .logo {
  width: 2.65em;
  margin-left: 0.625em;
}
/* line 16, ../../sass/partials/nav.scss */
nav ul {
  width: auto;
}
/* line 21, ../../sass/partials/nav.scss */
nav ul li {
  display: inline-block;
  margin-right: 2em;
}
/* line 25, ../../sass/partials/nav.scss */
nav ul li:last-child {
  margin-right: 0.625em;
}
/* line 29, ../../sass/partials/nav.scss */
nav ul li a {
  text-decoration: none;
  color: #8b96fc;
  text-transform: uppercase;
  -moz-transition: color 1s;
  -o-transition: color 1s;
  -webkit-transition: color 1s;
  transition: color 1s;
}
/* line 36, ../../sass/partials/nav.scss */
nav ul li a.active {
  color: #6168b0;
  border-bottom: 1px solid #6168b0;
  padding-bottom: 2px;
}
/* line 41, ../../sass/partials/nav.scss */
nav ul li a.active:hover {
  border-bottom: none;
}
/* line 46, ../../sass/partials/nav.scss */
nav ul li a:hover {
  color: #abaa37;
}
