/* line 5, ../../sass/partials/nav.scss */
nav {
  height: 3.4375em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* line 12, ../../sass/partials/nav.scss */
nav .logo {
  width: 2.65em;
  margin-left: 0.625em;
}
/* line 17, ../../sass/partials/nav.scss */
nav ul {
  width: auto;
}
@media screen and (max-width: 415px) {
  /* line 17, ../../sass/partials/nav.scss */
  nav ul {
    padding: 0;
  }
}
/* line 27, ../../sass/partials/nav.scss */
nav ul li {
  display: inline-block;
  margin-right: 2em;
}
@media screen and (max-width: 415px) {
  /* line 27, ../../sass/partials/nav.scss */
  nav ul li {
    margin: 0;
    padding: 0;
  }
}
/* line 36, ../../sass/partials/nav.scss */
nav ul li:last-child {
  margin-right: 0.625em;
}
/* line 40, ../../sass/partials/nav.scss */
nav ul li a {
  text-decoration: none;
  color: #8b96fc;
  text-transform: uppercase;
  -moz-transition: color 1s;
  -o-transition: color 1s;
  -webkit-transition: color 1s;
  transition: color 1s;
}
/* line 47, ../../sass/partials/nav.scss */
nav ul li a.active {
  color: #6168b0;
  border-bottom: 1px solid #6168b0;
  padding-bottom: 2px;
}
/* line 52, ../../sass/partials/nav.scss */
nav ul li a.active:hover {
  border-bottom: none;
}
/* line 57, ../../sass/partials/nav.scss */
nav ul li a:hover {
  color: #abaa37;
}
