/* line 4, ../../sass/partials/recruit.scss */
#recruit {
  margin: 0 auto;
}
/* line 9, ../../sass/partials/recruit.scss */
#recruit h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 2.75em;
  color: #3a3a3a;
  margin: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}
/* line 22, ../../sass/partials/recruit.scss */
#recruit h1 span.bold {
  font-weight: 400;
}
/* line 28, ../../sass/partials/recruit.scss */
#recruit img {
  width: 165px;
  height: auto;
}
