/* line 5, ../../sass/partials/recruit.scss */
#recruit {
  text-align: center;
  background-color: #fff;
}
/* line 12, ../../sass/partials/recruit.scss */
#recruit h1 {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 2.75em;
  color: #5d5d5d;
  margin: 0;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
/* line 26, ../../sass/partials/recruit.scss */
#recruit h1 span.bold {
  font-weight: 400;
}
/* line 32, ../../sass/partials/recruit.scss */
#recruit img {
  width: 165px;
  height: auto;
}
/* line 37, ../../sass/partials/recruit.scss */
#recruit ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-bottom: 90px;
}
@media screen and (max-width: 415px) {
  /* line 37, ../../sass/partials/recruit.scss */
  #recruit ul {
    display: none;
  }
}
/* line 50, ../../sass/partials/recruit.scss */
#recruit ul li {
  display: inline-block;
  margin-right: 8em;
}
@media screen and (max-width: 415px) {
  /* line 50, ../../sass/partials/recruit.scss */
  #recruit ul li {
    float: left;
    margin: 0 auto;
    clear: right;
  }
}
/* line 60, ../../sass/partials/recruit.scss */
#recruit ul li:last-child {
  margin-right: 0;
}
/* line 65, ../../sass/partials/recruit.scss */
#recruit ul li ul {
  margin: 0;
}
/* line 68, ../../sass/partials/recruit.scss */
#recruit ul li ul li {
  display: block;
  margin: 0;
  font-size: 3.75em;
  font-weight: 300;
  color: #8b96fc;
}
/* line 79, ../../sass/partials/recruit.scss */
#recruit a {
  display: inline-block;
  background-color: #8b96fc;
  color: #fff;
  width: auto;
  text-decoration: none;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  font-size: 2.25em;
  padding: 1rem 2.5rem;
}
/* line 90, ../../sass/partials/recruit.scss */
#recruit a:hover {
  background-color: #abaa37;
}
