#navWrap {
 height: 3.4375em;
}

nav {
  height: 3.4375em;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid grey;

  -webkit-box-shadow: 14px -200px 10px 200px rgba(0,0,0,0.8);
  -moz-box-shadow: 14px -200px 10px 200px rgba(0,0,0,0.8);
  box-shadow: 14px -200px 10px 200px rgba(0,0,0,0.8);

  &.Navfixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;

  }


  .logo {
    width: 2.65em;
    margin-left: 0.625em;
  }

  ul {


    width: auto;

    @media screen and (max-width: $break-small) {
      padding: 0;
    }


    li {
      display: inline-block;
      margin-right: 2em;

      @media screen and (max-width: $break-small) {
        margin: 0;
        padding: 0;
      }

      &:last-child {
        margin-right: 0.625em;
      }

      a {
        text-decoration: none;
        color: $light;
        text-transform: uppercase;
        @include transition(color 1s);




        &.active {
          color: $med;
          border-bottom: 1px solid $med;
          padding-bottom: 2px;

          &:hover {
            border-bottom: none;
          }
        }

        &:hover {
          color: $accent;

        }


      }
    }

  }
}