@import 'colors';
@import 'mixins';
@import 'variables.scss';

nav {
  height: 3.4375em; // 55px
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .logo {
    width: 2.65em;
    margin-left: 0.625em;
  }

  ul {


    width: auto;

    @media screen and (max-width: $break-small) {
      padding: 0;
    }


    li {
      display: inline-block;
      margin-right: 2em;

      @media screen and (max-width: $break-small) {
        margin: 0;
        padding: 0;
      }

      &:last-child {
        margin-right: 0.625em;
      }

      a {
        text-decoration: none;
        color: $light;
        text-transform: uppercase;
        @include transition(color 1s);


        &.active {
          color: $med;
          border-bottom: 1px solid $med;
          padding-bottom: 2px;

          &:hover {
            border-bottom: none;
          }
        }

        &:hover {
          color: $accent;

        }


      }
    }

  }
}