@import 'colors';
@import 'mixins';
@import 'variables';

#recruit {
  text-align: center;
  background-color: $white;




  h1 {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 2.75em;
    color: $text;

    margin: 0;
    margin-top: 1.5em;
    margin-bottom: 1.5em;


    span {

      &.bold {
      font-weight: 400;
      }
    }
  }

  img {
    width: 165px;
    height: auto;
  }

  ul {

    display: inline-block;
    margin: 0;
    padding: 0;
    margin-bottom: 90px;

    @media screen and (max-width: $break-small) {
      display: none;
    }



    li {
      display: inline-block;
      margin-right: 8em;

      @media screen and (max-width: $break-small) {
        float: left;
        margin: 0 auto;
        clear: right;
      }

      &:last-child {
        margin-right: 0;
      }


      ul {
        margin: 0;

        li {
          display: block;
          margin: 0;
          font-size: 3.75em;
          font-weight: 300;
          color: $light;
        }
      }
    }
  }

  a {
    display: inline-block;
    background-color: $light;
    color: $white;
    width: auto;
    text-decoration: none;
    @include transition(background-color 0.5s);
    font-size: 2.25em;
    padding: 1rem 2.5rem;


    &:hover {
      background-color:$accent;
    }
  }
}