@import 'colors.scss';
@import 'mixins';
@import 'variables';

#recruitment {
  font-size: 1.2rem;

  h1 {
    display: inline-block;
    font-size: 4.5rem;
    color: $dark;
    margin: 0;
    margin-top: 1rem;
  }

  p {
    text-align: justify;
    line-height: 1.5rem;
  }

  li {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  ul {
    padding-left: 0;
    li {
      list-style: none;

    &:before {
      content:'';
      display:inline-block;
      height:2rem;
      width:2rem;
      background-image:url('../img/sword.svg');
      background-size:contain;
      background-repeat:no-repeat;
      color: $white;
    }

    }

  }


  .highlight {
    color: $accent;
  }

  .light {

    h1 {
      font-size: 3rem;
      color: $white;
    }

    .highlight {
      color: $white;
    }






  }

  a.bigredsillybutton {

      display: block;
      background-color: red;
      color: $white;
      width: auto;
      text-decoration: none;
      text-align: center;
      @include transition(background-color 0.5s);
      font-size: 1rem;
      font-weight: 600;
      padding: 1rem 2.5rem;
      margin-top: 4em;

      @media screen and (max-width: $break-small) {
        font-size: 1em;
        padding: 1rem;
      }


      &:hover {
        background-color: $darkerred;
      }
    }


}

